@charset "utf-8";
/**
 * [OElove] (C)2010-2099 phpcoo.com Inc.
 * Email£ºservice@phpcoo.com£¬phpcoo@qq.com
 * This is not a freeware, use is subject to license terms
 * $ LastTime 2015.06.01 Design by wz&cs $
*/
body{color:#666;font-size:12px;background:#fafafa;font-family:"\5FAE\8F6F\96C5\9ED1",arial,Verdana, Geneva, sans-serif, "Hiragino Sans GB","Hiragino Sans GB W3","\5b8b\4f53";}
body,form,li,ul,p,h1,h2,h3,h4,h5,dl,dd,dt{border:none; list-style:none; margin:0px; padding:0px;font-weight:normal;}
a{border:none; text-decoration:none;}
a:link{color:#666;}
a:visited{color:#666;}
a:hover{color:#f55964;}
img{border:0;}
i{font-style:normal;}
.clear{clear:both;}
/*--------------------- TOP Begin [Powered by OElove] -------------------------*/
.oe-public-top {
	width:100%;background:#fff;margin:0 auto; height:88px;
}
.oe-public-top .top-cont {
	margin:0 auto;width:1000px;background:#fff;
}

.oe-public-top .top-cont .top-logo {
	float:left;width:300px;height:88px;overflow:hidden;
}
.oe-public-top .top-cont .top-logo img {
	max-height:88px;vertical-align:middle;
}

.oe-public-top .top-cont .top-banner {
	float:right;width:500px;background: url("../images/reg_banner.jpg") no-repeat scroll right top;height:88px;
}

.oe_passport_top{
	width:100%; min-width:1000px; margin:0 auto; height:66px; 
	font-family:Microsoft Yahei; background:#fff;
}
.oe_passport_topcon{
	width:1000px; margin:0 auto; position:relative;
}
.oe_passport_top_logo{float:left;}
.oe_passport_top_logo img{max-height:66px;}
.oe_passport_top_menu{margin-left:40px; float:left; line-height:66px; height:66px; overflow:hidden;}
.oe_passport_top_menu a{display:inline-block; font-size:16px; color:#333;}
.oe_passport_top_menu a:hover{text-decoration:none;}
.oe_passport_top_menu i{font-style:normal; color:#ebebeb; margin:0px 8px; position:relative; top:-1px; font-size:14px;}
.oe_passport_top_smenu{ line-height:66px; position:absolute; right:0px;  top:0px;}
.oe_passport_top_smenu a{margin-right:10px; display:inline-block;}
.oe_passport_top_smenu a i{color:red; font-style:normal;}

/*--------------------- TOP End [Powered by OElove] -------------------------*/


/*--------------------- Footer Begin [Powered by OElove] -------------------------*/
.oe-public-footer {
    margin: 20px auto 0;
    width: 1000px;
}
.oe-public-footer .footer-nav {
	font-size:13px;text-align:center;height:35px;line-height:35px;
	border-bottom:1px dashed #ddd;font-weight:bold;
}
.oe-public-footer .footer-nav a {
	color:#333;
}
.oe-public-footer .footer-copy {
	color:#666;line-height:24px;text-align:center;margin-top:10px;
}
/*--------------------- Footer End [Powered by OElove] -------------------------*/


.oe-public-box {
	background: #fff;
    border-radius: 10px;
    border-top: 2px solid #fa7383;
    line-height: 35px;
    margin: 30px auto 0;
    padding: 8px;
    position: relative;
    width: 986px;
}


/*--------------------- Step Begin [Powered by OElove] -------------------------*/
.oe-public-step{
	color:#e2e2e2; font-size:20px; padding-left:10px;margin-left:50px; margin-top:15px; 
	border-bottom:1px solid #ebebeb; padding-bottom:10px;font-weight:bold;
}
.oe-public-step span,label{
	margin-right:35px;
}
.oe-public-step i{
	font-style:normal; font-size:30px;  vertical-align:-4px;
}
.oe-public-step span{
	color:#fa7383;
}
/*--------------------- Step End [Powered by OElove] -------------------------*/

/*--------------------- Help Begin [Powered by OElove] -------------------------*/
.oe-public-help {
	position:absolute;width:230px;top:90px;right:0;z-index:100;padding-right:20px;
}
.oe-public-help h2 {
	background: url("../images/puts_head.jpg") no-repeat scroll #fff;
    font-size:13px; line-height:30px; padding-left:40px; margin-bottom:10px;
	padding-bottom:10px;border-bottom:1px dashed #ddd;color:#333;

}
.oe-public-help h2 a {color:#fa7383;}

.oe-public-help h3 {
	background: url("../images/puts_contact.jpg") no-repeat scroll #fff;
    font-size:13px; line-height:30px; padding-left:40px;color:#333;
}
.oe-public-help .oe-help-cont {
	line-height:25px;padding-left:40px;
}
/*--------------------- Help End [Powered by OElove] -------------------------*/


/*--------------------- Reg wrap Begin [Powered by OElove] -------------------------*/
.oe_reg_content{
	margin-bottom:10px;
}
.oe_reg_content dd {
	font-size:14px;
}
.oe_reg_content h2 {
	height:45px;line-height:45px;font-size:14px;
	padding-left:65px;color:#FA7383;
}
.oe_reg_content h2 span {
	font-size:12px;font-weight:normal;color:#666;height:45px;line-height:45px;
}
.oe_reg_content dl.oe_reg_dl{
	height:45px; line-height:45px; margin-left:50px; 
	position:relative; z-index:20;
}
.oe_reg_content dl.oe_reg_dl dd{
	height:45px; width:90px; float:left;text-align:right;line-height:23px;
}
.oe_reg_content dl.oe_reg_dl dd em{
	color:red; margin-right:2px; font-style:normal;
}

.oe_reg_content dl.oe_reg_dl dt {
	position:relative;
}

.oe_reg_content dl.oe_reg_dl dt.oe_reg_text{
	height:45px; float:left; 
}
.oe_reg_content dl.oe_reg_dl dt select{
	padding:3px;border:1px solid #ddd;height:25px; vertical-align:middle;
}
.oe_reg_content dl.oe_reg_dl dt .i-w1{ 
	box-shadow: 2px 2px 2px #f5f5f5 inset; border:1px solid #ebebeb; width:253px; 
	height:28px; line-height:28px; padding-left:8px;vertical-align:middle;
}
.oe_reg_content dl.oe_reg_dl dt .i-w2{
	box-shadow: 2px 2px 2px #f5f5f5 inset; border:1px solid #ebebeb; width:100px; 
	height:28px; line-height:28px; padding-left:8px;vertical-align:middle;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_0{
	border:1px solid #ebebeb; margin-top:0px; line-height:25px; font-size:12px; 
	padding:0px 5px; min-height:25px; float:left; position:relative;  top:3px; 
	border-radius:3px; margin-left:30px;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_0 span{
	width:6px; height:9px; position:absolute; left:-6px; top:8px; 
	display:block; background:url("../images/puts_jt.jpg") no-repeat;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_0 font{color:#999;}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_0 label{ display:none;}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_1{
	border:1px solid #ebebeb; margin-top:0px; line-height:25px; 
	font-size:12px; padding:0px 5px; min-height:25px; float:left; 
	position:relative;  top:3px; border-radius:3px; margin-left:30px;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_1 span{
	width:6px; height:9px; position:absolute; left:-6px; top:8px; 
	display:block; background:url("../images/puts_jt.jpg") no-repeat;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_1 font{color:red;}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_1 label{
	background:url("../images/puts_x.gif") no-repeat; display:block; 
	width:22px; height:22px; position:absolute; left:-30px; top:2px;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_2{
	border:none; margin-top:0px; line-height:25px; font-size:12px; 
	padding:0px 5px; min-height:25px; float:left; position:relative; 
	 top:3px; border-radius:3px; margin-left:30px;width:22px;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_2 span{display:none;}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_2 font{display:none;}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_2 label{
	display:block; width:22px; height:22px; position:absolute; left:-30px; top:2px;
}
.oe_reg_content dl.oe_reg_dl dt.oe_reg_tips_2 label{
	background:url("../images/puts_y.gif") no-repeat;
}
.oe_reg_content h5,.oe_reg_contents h5{
	border-bottom:1px dashed #ebebeb; font-size:14px; 
	margin-left:50px; color:#fa7383; margin-right:220px;
}



.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm { /* ÊÖ»úÑéÖ¤Âë Í¼Æ¬Ð£ÑéÂë */
	width:200px;z-index:100; padding:10px; background:#FFDD55;border:1px solid #ddd;
	position:absolute;bottom:45px;left:210px;display:none;
}	
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm h6 {
	height:30px;line-height:30px;font-weight:normal;color:#333;font-size:12px;
}
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm ._imyzm_lt {
	float:left;width:100px;height:28px;line-height:28px;
}
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm ._imyzm_lt input{
	border:1px solid #ddd;height:23px;line-height:25px;padding:2px;width:80px;
	box-shadow: 2px 2px 2px #f5f5f5 inset;
}
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm ._imyzm_rt {
	float:left;width:100px;height:28px;line-height:28px;position:relative;
}
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm ._imyzm_rt img {
	vertical-align:middle;position:absolute;top:4px; cursor:pointer;
}
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm ._imgyzm_jt{
	background:url("../images/downjt.png") no-repeat;width:14px;height:9px;
	position:absolute;bottom:-9px;left:30px;display:block;
}
.oe_reg_content .oe_reg_dl .oe_mobile_imgyzm ._imgyzm_x {
	color:#fff;position:absolute;right:5px;top:-10px;width:10px;height:10px;display:block;
	margin-right:0;cursor:pointer;
}
.reg_pw_bar{width: 0;height: 14px;overflow: hidden;background-color: #F60;transition: all .4s linear;-webkit-transition: all .4s linear;-moz-transition: all .4s linear;-o-transition: width .4s linear;}
.reg_pw span {display: inline;float: left;height: 15px;margin-top:-14px;width: 70px;font-size: 12px;text-align: center;line-height: 14px;color: #FFF;border-right: 1px solid #FFF;border-radius:0}


/*--------------------- Reg wrap End [Powered by OElove] -------------------------*/

/*-------------------- Reg but Begin [Powered by OElove] ----------------------*/
.oe_reg_but{
	padding-left:260px;margin-bottom:30px;
}
.oe_reg_but .oe_button0_reg{
	background:url("../images/but_next.jpg") no-repeat; width:204px; height:46px; cursor:pointer; border:none;
}
.oe_reg_but .oe_button1_reg{
	background:url("../images/but_profile.jpg") no-repeat; width:204px; height:46px; cursor:pointer; border:none;
}
.oe_reg_but .oe_button2_reg{
	background:url("../images/but_save.jpg") no-repeat; width:204px; height:46px; cursor:pointer; border:none;
}
.oe_reg_but .oe_button3_reg{
	background:url("../images/but_login.png") no-repeat; width:124px; height:44px; cursor:pointer; border:none;
}
.oe_reg_but .oe_button4_reg{
	background:url("../images/but_getpass.png") no-repeat; width:164px; height:46px; cursor:pointer; border:none;
}
/*-------------------- Reg but End [Powered by OElove] ----------------------*/

.oe-passport-puts {
	margin-top:20px;margin-bottom:20px;
}
.oe-passport-puts h3{
	line-height:35px;height:35px;padding-left:50px;
}
.oe-passport-puts dl {
	height:45px;line-height:45px;margin-left:50px;position:relative;
}
.oe-passport-puts dl dd {
	float:left;width:110px;height:45px;line-height:45px;font-size:14px;
}
.oe-passport-puts dl dd em {
	color:red; margin-right:2px; font-style:normal;
}
.oe-passport-puts dl dt {
	float:left;width:780px;line-height:45px;font-size:12px;
}
.oe-passport-puts dl dt span {
	line-height:45px;
}
.oe-passport-puts dl dt .w1 {
	border: 1px solid #ebebeb;
    box-shadow: 2px 2px 2px #f5f5f5 inset;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    vertical-align: middle;
    width: 253px;
}
.oe-passport-puts dl dt .w2 {
	border: 1px solid #ebebeb;
    box-shadow: 2px 2px 2px #f5f5f5 inset;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    vertical-align: middle;
    width: 100px;
}
.oe-passport-puts dl dt img {
	vertical-align:middle;
}

.oe-passport-oauth {
	margin-top:20px;margin-bottom:20px;padding-left:160px;
}
.oe-passport-oauth h2 {
	font-size:14px;font-weight:normal;height:45px;
}


.passport-img {
	margin:0 auto;
}
.passport-img .p-l {
	float:left;width:80px;height:80px;
}
.passport-img .p-l img {
	width:60px;height:74px;border:1px solid #ddd;padding:2px;
}
.passport-img .p-r {
	float:left;width:350px;line-height:20px;
}
.img-input {
	height:23px;border:1px solid #ddd;padding:2px;
}

/*--------------- Reg Monolog Begin  [ Powered by OElove ]--------------------*/
.reg_monolog_box {
	border: 1px solid #DDDDDD;
    height: auto;
    width: 500px; margin-left:65px;
}

.reg_monolog_box h5 {
	padding:0;margin:0;
	background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    position: relative;
}

.reg_title_ffff{
	background:#ffffff;
	display:block;
	height:25px;
	width:80px;
}
.reg_monolog_c{
	padding:10px;
	line-height:25px;
}

.reg_monolog_c textarea {
	border: 0 none;
    color: #666666;
    height: 135px;
    line-height: 22px;
    outline: medium none;
    overflow: auto;
    resize: none;
    width: 100%;
	font-size:12px;
}
.reg_monolog_c hr{
	height:1px;border:none;border-top:1px dashed #ddd;
}

.reg_monolog_help {
	padding:10px;
	OVERFLOW-y:auto;
	height:200px;
}
.reg_monolog_help ul li {
	float:left;width:470px;
	line-height:22px;margin-bottom:5px;
	border-bottom:1px dashed #ddd;
}
.reg_help_checkbox{
	vertical-align:middle;line-height:22px;
}

.reg_mono_current {
	font-weight:bold;
	font-size:13px;
}
/*--------------- Reg Monolog End  [ Powered by OElove ]--------------------*/

/*--------------- Reg Success Begin  [ Powered by OElove ]--------------------*/
.oe_reg_suss_1{
	margin-left:50px; font-size:16px; color:#fa7383; font-weight:bold; margin-top:20px;
}
.oe_reg_suss_1 span {
	cursor:pointer;
}

.oe_reg_zhaohu{
	margin-top:15px; width:700px;
}
.oe_reg_zhaohu h6{
	margin:0px; font-size:14px; font-weight:normal; text-align:left; 
	border-bottom:1px solid #ebebeb; width:670px; margin-bottom:15px;
}
.oe_reg_zhaohu ul li{
	float:left; font-size:12px; text-align:center; line-height:22px; margin:5px 11px;
	height:205px;
}
.oe_reg_zhaohu ul li a{
	display:block;
}
.oe_reg_zhaohu ul li img.oe_userhead{
	border:1px solid #ebebeb; padding:2px;
}
.oe_reg_zhaohu ul li p {
	line-height:22px;
}
.oe_reg_zhaohu ul li p span {
	background:#5295db;color:#fff;display:block;cursor:pointer;
}
.oe_reg_zhaohu ul li p span a {
	color:#fff;
}

.oe_reg_zh_but{
	margin-bottom:15px; text-align:center; margin-top:10px; line-height:40px;
}
.oe_reg_zh_but img{
	vertical-align:middle;
}

.oe_reg_suss_ren{ margin-left:50px; font-size:14px;  margin-bottom:5px;}
.oe_reg_suss_ren a{color:#fa7383;}
.oe_reg_srenzheng{ border:1px solid #ebebeb; width:665px; margin-top:10px; line-height:22px;}
.oe_reg_srenzheng dl{font-size:12px; float:left; margin:12px 10px; width:145px; border-right:1px solid #ebebeb;}
.oe_reg_srenzheng h6{margin:0px; line-height:35px; height:35px; padding-left:10px; font-size:16px; background:#fafafa; position:relative;}
.oe_reg_srenzheng h6 span{ position:absolute; right:0px; top:2px; font-size:12px; font-weight:normal; color:#fa7383;}
.oe_reg_srenzheng dl dd{padding-left:34px; font-size:14px;  font-weight:bold; height:35px; line-height:32px; }
.oe_reg_srenzheng dl dd.oe_reg_ico1{background:url("../images/rz_avatar.png") no-repeat;}
.oe_reg_srenzheng dl dd.oe_reg_ico2{background:url("../images/rz_mobile.png") no-repeat;}
.oe_reg_srenzheng dl dd.oe_reg_ico3{background:url("../images/rz_email.png") no-repeat;}
.oe_reg_srenzheng dl dd.oe_reg_ico4{background:url("../images/rz_qq.png") no-repeat;}
.oe_reg_srenzheng dl dt{ margin-top:0px;}
.oe_reg_srenzheng dl dt a{color:#5295db;}
/*--------------- Reg Success End  [ Powered by OElove ]--------------------*/

/*--------------- jdlogin Begin  [ Powered by OElove ]--------------------*/
.oe_public_login_dialog_main {
	margin:0 auto;color:#333;
}
.oe_public_login_dialog_left {
	float:left;
	height:320px;
	background-color:#fff;
	width:60%;
}
.oe_public_login_dialog_left h2 {
	text-align:center;
	background:none repeat scroll 0 0 #EFEFEF;
	padding:16px;
	font-family:"\5FAE\8F6F\96C5\9ED1",arial,"Hiragino Sans GB","Hiragino Sans GB W3","\5b8b\4f53";
	font-size:16px;
	margin-top:0px;
}


.oe_public_login_dialog_right {
	float:left;
	height:320px;
	width:40%;
	background:url("../images/login_bg.png") no-repeat scroll 10px 160px transparent;
	background-color:#f8f8f8;
}
.oe_public_login_dialog_right h2 {
	text-align:center;
	background:none repeat scroll 0 0 #EDEDED;
	padding:16px;
	font-family:"\5FAE\8F6F\96C5\9ED1",arial,"Hiragino Sans GB","Hiragino Sans GB W3","\5b8b\4f53";
	font-size:16px;
	margin-top:0px;
}
.oe_public_login_dialog_tips {
	line-height:30px;
}
.oe_public_login_dialog_tips ul li {
	float:left;width:90%;font-size:13px;position:relative;line-height:25px;
	padding:5px 10px 5px 10px;
}
.oe_public_login_dialog_tips ul li .oe_dialog_reg_but {
	position:absolute;left:140px;top:4px;
	display:block;/*background:url("../images/but_dialog_reg.png") no-repeat;*/text-align:center;
	width:70px;height:25px;line-height:25px;font-size:12px;font-style:normal;
	background:#0098c2;color:#fff;
}
.oe_public_login_dialog_tips ul li .oe_dialog_reg_but:hover {
	background:#0086ab;
}

.oe_public_login_dialog_form {
	line-height:40px;
	padding:10px 30px;
}
.oe_public_login_dialog_form dl {
	width:100%;position:relative;line-height:35px;margin-bottom:5px;
	font-size:14px;
}
.oe_public_login_dialog_form dl dt {
	width:100px;line-height:35px;
}
.oe_public_login_dialog_form dl dd {
	position:absolute;left:110px;top:0;line-height:35px;
}

.oe_public_login_dialog_form .txt-input {
	border:1px solid #ddd;padding:2px;height:25px;line-height:25px;width:200px;color:#666;
}
.oe_public_login_dialog_form .oe_dialog_code_but {
	position:absolute;left:100px;top:5px;height:25px;line-height:25px;
}
.oe_public_login_dialog_form .oe_dialog_code_but img {
	vertical-align:middle;
}
.oe_public_login_dialog_form .oe_dialog_login_but {
	display:block;background:url("../images/but_dialog_login.png") no-repeat;cursor:pointer;
	width:91px;height:31px;line-height:31px;color:#fff;font-size:13px;font-style:normal;text-align:center;
}
/*--------------- jdlogin End  [ Powered by OElove ]--------------------*/


/*--------------- Advsearch Begin  [ Powered by OElove]--------------------*/
.oe-public-adv-user {
	position:absolute;width:280px;
	right:8px;top:20px;
}	
.oe-public-adv-user h3 {
	height: 35px;
    line-height: 33px;
    margin-bottom: 15px;
    margin-top: 10px; font-size:15px;font-weight:normal;
}

.oe-public-adv-user dl {
	float:left; width:78px; overflow:hidden; margin-right:15px; margin-bottom:10px;
}
.oe-public-adv-user dl dt {
	width:78px;height:96px;
}
.oe-public-adv-user dl dt img {
	border:1px solid #ddd;padding:2px;width:72px;height:88px;
}
.oe-public-adv-user dl dd {
	line-height:20px;text-align:center;
}
.oe-public-adv-user dl dd a{
	display:block;color:#fa7383;height:20px;overflow:hidden;
}

.oe-public-adv{
	margin:0 auto;
	width:960px;padding:10px 0 10px 0;
	margin-left:10px;margin-right:10px;
	background:#fff;min-height:500px;
}
.oe-public-adv h2{
	line-height:33px; height:35px;  border-bottom:1px solid #ebebeb; 
	margin-top:10px; position:relative;  margin-bottom:15px;
}
.oe-public-adv h2 a{
	font-size:15px; font-weight:normal; margin:0px 10px 0px 0px;  background:#fafafa; 
	display:block; float:left; padding:0px 10px; position:relative; bottom:-1px;border:1px solid #ebebeb;
}
.oe-public-adv h2 a.current{
	border-bottom:1px solid #fff; background:#fff;
}


.oe-public-advcon{
	margin-top:10px;width:660px;min-height:580px;
}
.oe-public-advcon dl{
	 width:660px;line-height:35px; font-size:13px;position:relative;
}
.oe-public-advcon dl dt{
	width:90px; float:left; margin:2px 0px; padding-left:20px;
}
.oe-public-advcon dl dd{
	position:absolute;left:110px;top:0;
	width:550px;margin:2px 0px;
}
.oe-public-advcon dl dd select{
	padding:2px;box-shadow: 2px 2px 2px #f5f5f5 inset;
	height:25px;border:1px solid #ddd;color:#666;
}
.oe-public-advcon .i-w1{
	border:1px solid #ebebeb; width:220px;
	height:30px;line-height:30px;padding:2px;box-shadow: 2px 2px 2px #f5f5f5 inset;
}

.oe-adv-buts {
	padding-left:20px;text-align:center; border-top:1px solid #ebebeb; padding-top:10px; margin-top:10px;
}
.oe-adv-buts .oe-adv-btn1{
	width:204px; height:46px; text-align:center; color:#fff; border:none; 
	background:url("../images/ser_adv.jpg") no-repeat; cursor:pointer;
}
.oe-adv-buts .oe-adv-btn2{
	width:204px; height:46px;  text-align:center; color:#fff; border:none; 
	background:url("../images/ser_user.jpg") no-repeat; cursor:pointer;
}
.oe-adv-buts .oe-adv-btn3{
	width:204px; height:46px;  text-align:center; color:#fff; border:none; 
	background:url("../images/ser_uid.jpg") no-repeat; cursor:pointer;
}

/*--------------- Advsearch End  [ Powered by OElove]--------------------*/

/*----------------------- oe_pay_result Begin ------------------------*/
.oe_pay_result {
	margin:0 auto; padding:10px;
}
.oe_pay_result h2 {
	height:30px;line-height:30px;font-size:16px;border-bottom:2px solid #ddd;;
}

.oe_pay_result ._pay_lt {
	float:left;width:650px;
}
.oe_pay_result ._pay_rt {
	float:right;width:300px;background:#fafafa;margin-top:25px;
}

.oe_pay_result_con {
	margin:0 auto;margin-top:10px;position:relative;
}
.oe_pay_result_con fieldset{
	border-radius:8px;border:1px solid #ebebeb;
}
.oe_pay_result_con fieldset legend {font-size:16px;}
.oe_pay_result_con dl {
	float:left;padding-top:5px;padding-bottom:5px;width:100%;font-size:14px;line-height:25px;
	padding-left:70px;
}
.oe_pay_result_con dl dt {
	float:left;width:100px;
}
.oe_pay_result_con dl dd {
	float:left;width:450px;
}
.oe_pay_result_con ._result_img {
	position:absolute;width:65px;height:65px;top:90px;right:70px;
}
.oe_pay_result_con ._result_img span {display:inline-block;width:62px;height:62px;}
.oe_pay_result_con ._result_img span._ok{
	background:url("../images/_ok.png") no-repeat;
}
.oe_pay_result_con ._result_img span._fail{
	background:url("../images/_fail.png") no-repeat;
}

.oe_pay_return {
	margin:0 auto; margin-top:20px; height:30px;position:relative;
}
.oe_pay_return span {
	display:block;width:100px;height:25px;line-height:25px;background:#ff6600;color:#fff;text-align:center;
	position:absolute;left:270px;bottom:0;
}
.oe_pay_return span:hover {
	background:#fa8a3f;
}
.oe_pay_return span a {color:#fff;}

.oe_pay_help {
	padding:5px 20px 10px 20px;
}
.oe_pay_help h3 {
	border-bottom:1px solid #ddd;margin-bottom:10px;
}	
.oe_pay_help p {
	line-height:25px;font-size:13px;
}
/*----------------------- oe_pay_result End ------------------------*/



/*============================ ...»ªÀö·Ö¸îÏß...Begin =======================*/

.oe_public_left {
	float:left; width:750px; margin-top:5px;
}
.oe_public_right {
	float:right; width:220px; margin-top:5px;background:#fafafa;
}


/*----------------------- oe_public_userdata Begin ------------------------*/
.oe_public_userdata{
	background:#fff; padding:20px 20px 5px 20px; border:1px solid #f5f5f5; background:#fafafa;
}
.oe_public_userdata dl{width:710px;}
.oe_public_userdata dl dt img{
	border:1px solid #f5f5f5; padding:4px;width:110px; height:135px; background:#fff;
}
.oe_public_userdata dl dt{
	width:120px; float:left;
}
.oe_public_userdata dl dd{
	float:left; margin-left:20px; font-size:14px; width:565px;
}
.oe_public_userdata dl dd .oe_v_u1{
	font-family:Microsoft Yahei; font-size:18px;
}
.oe_public_userdata dl dd .oe_v_u2{
	color:#666;line-height:35px;
}
.oe_public_userdata dl dd .oe_v_u2 a{
	color:#ff6600;
}
.oe_public_userdata dl dd .oe_v_u3{
	display:block;border-top:1px dotted #ebebeb;line-height:35px;
}
.oe_public_userdata dl dd .oe_v_u4{
	margin-top:10px;
}
.oe_public_userdata dl dd .oe_v_u4 a{
	color:#fff; display:inline-block;padding:0px 8px 0px 35px; 
	line-height:26px; margin-right:8px;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_1{
	background:url("../images/hi_cons.png") 5px 5px no-repeat #009edf;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_1:hover{
	background:url("../images/hi_cons.png") 5px 5px no-repeat #00aef2;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_2{
	background:url("../images/hi_cons.png") 5px -40px no-repeat #2ac69f;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_2:hover{
	background:url("../images/hi_cons.png") 5px -40px no-repeat #2ed9ae;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_3{
	background:url("../images/hi_cons.png") 5px -18px no-repeat #b150de;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_3:hover{
	background:url("../images/hi_cons.png") 5px -18px no-repeat #bd55ed;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_4{
	background:url("../images/hi_cons.png") 5px -63px no-repeat #ff428b;
}
.oe_public_userdata dl dd .oe_v_u4 a.oe_hico_4:hover{
	background:url("../images/hi_cons.png") 5px -63px no-repeat #f54085;
}
/*----------------------- oe_public_userdata End ------------------------*/


/*------------------------ oe_like_list Begin --------------------------*/
.oe_like_list{
	padding:0px 10px;
}
.oe_like_list h3{
	font-size:15px; font-weight:normal; border-bottom:1px solid #ebebeb; 
	line-height:35px; padding-top:10px; margin-bottom:10px;
}
.oe_like_list dl {
	float:left;margin-top:5px;margin-bottom:5px;
	border-bottom:1px dotted #ebebeb; padding-bottom:10px; margin-bottom:10px; position:relative;
}
.oe_like_list dl dt {
	float:left;width:80px;height:98px;
}
.oe_like_list dl dt img {
	width:80px;height:98px;
}
.oe_like_list dl dd {
	float:left;margin-left:10px;width:105px;
}
.oe_like_list dl dd h2 {
	height:30px;line-height:30px;font-size:14px;
}
.oe_like_list dl dd p {
	line-height:22px;color:#999;height:22px;
}
/*------------------------ oe_like_list End ----------------------------*/


/*------------------------- galler Begin ------------------------*/

.oe_gallery_tip {
	margin:0 auto;margin-top:20px;width:500px;
}
.oe_gallery_tip dl dt{
	float:left;width:60px;
}
.oe_gallery_tip dl dd {
	float:left;width:440px;
}
.oe_gallery_tip dl dd h2 {
	height:25px;line-height:25px;font-size:14px;color:#333;
}
.oe_gallery_tip dl dd p {
	line-height:20px;color:#666;
}
.oe_gallery_tip dl dd p a {color:#ff6600;}



.oe_galler_layout {
	margin:0 auto;width:748px;padding-bottom:10px; border:1px solid #ebebeb; margin-top:10px;
}
.oe_galler_layout .oe_gallery_bigpic {
	margin:0 auto;width:720px;
}
.oe_galler_layout .oe_gallery_bigpic h2 {
	height:35px;line-height:35px;font-size:12px;color:#333;font-weight:normal;
	margin-bottom:10px;padding-bottom:5px; margin-top:10px; position:relative;
	text-align:left;border-bottom:1px solid #ddd;
}
.oe_galler_layout .oe_gallery_bigpic h2 span {
	color: #ff445d; font-size: 18px;
}
.oe_galler_layout .oe_gallery_bigpic h2 em {
	font-style:normal;
}
.oe_galler_layout .oe_gallery_bigpic h2 i {
	background: #ff6600; border-radius: 2px; color: #fff;position:absolute;right:0;top:7px;cursor:pointer;
	display: block; width:70px;height:25px;line-height:25px;text-align:center;font-size:13px;
}
.oe_galler_layout .oe_gallery_bigpic h2 i:hover {
	background:#f76300;
}

.oe_galler_layout .oe_gallery_bigpic {
	height:460px;width:720px;text-align:center;
}
.oe_galler_layout .oe_gallery_bigpic img {
	padding: 4px;max-width:710px;max-height:390px;
	vertical-align:middle;
}


/*
.oe_galler_layout .oe_gallery_prelt {
	float:left;width:120px;text-align:center;line-height:25px;
}
.oe_galler_layout .oe_gallery_prelt img {
	border: 1px solid #ccc;height: 80px;padding: 3px; width: 105px;
}

.oe_galler_layout .oe_gallery_prert {
	float:right;width:120px;text-align:center;line-height:25px;
}
.oe_galler_layout .oe_gallery_prert img {
	border: 1px solid #ccc;height: 80px;padding: 3px; width: 105px;
}
*/

.oe_galler_layout .oe_gallery_preview{
	margin: 0 auto;margin-top:15px;/*padding-left:20px;padding-right:20px;*/
}

.oe_galler_layout .oe_gallery_premd {
	width:750px;position:relative;height:100px;
}
.oe_galler_layout .oe_gallery_premd .prev {
	background:url("../images/arrow_l.png") no-repeat; left:20px; top: 35px; display:inline-block;
	width: 18px;height: 32px;position: absolute;z-index: 30;
}
.oe_galler_layout .oe_gallery_premd .next {
	background:url("../images/arrow_r.png") no-repeat; right:20px; top: 35px;
	width:18px;height: 32px; position: absolute;z-index: 30; display:inline-block;
}

.oe_galler_layout .oe_gallery_premd .thumbnail{
	height:100px;margin-left: 20px;overflow: hidden; position: relative; width:610px; margin:0 auto;
}
.oe_galler_layout .oe_gallery_premd .thumbnail ul {
	width:20000px;left: 0;position: absolute; top: 0;
}
.oe_galler_layout .oe_gallery_premd .thumbnail ul li {
	cursor: pointer;float: left; width:80px; height:98px; padding: 5px 10px;
}
.oe_galler_layout .oe_gallery_premd .thumbnail ul li img{
	width:80px; height:98px;
}
.oe_galler_layout .oe_gallery_premd .thumbnail li.border  {
	background: url("../images/arrow_on.png") no-repeat scroll center top;border: 2px solid #ff780d;
    width: 78px; height:91px;left: 10px;padding: 0;position: absolute;top: 5px;z-index: 20;
}

/*------------------------- galler End ------------------------*/


/*------------------------ video Begin -------------------*/
.oe_video_content {
	margin:0 auto;margin-top:10px;margin-bottom:10px;
}
.oe_video_content h1 {
	height:30px;line-height:30px;font-size:16px;color:#333;border-bottom:1px solid #ebebeb;
	position:relative;text-align:center;
}
.oe_video_content h1 span {
	position:absolute;right:0;top:0;font-size:13px;font-weight:normal;cursor:pointer;
	color:#ff6600;
}
.oe_video_content h1 span a {color:#ff6600;}
.oe_video_content h2 {
	height:25px;line-height:25px;font-weight:normal;font-size:13px;color:#666;text-align:center;
}
.oe_video_content .play_box {
	margin:0 auto; padding:10px;text-align:center;
}
.oe_video_content .play_box p {
	margin-top:20px;text-align:center;
}


.oe_video_list {
	margin:0 auto;margin-top:10px;margin-bottom:10px;
}
.oe_video_list h6 {
	padding:10px;text-align:center;font-weight:normal;font-size:13px;
}
.oe_video_list h2 {
	height:30px;line-height:30px;font-size:14px;position:relative;border-bottom:1px solid #ddd;color:#333;
	padding-bottom:5px;padding-top:5px;
}
.oe_video_list h2 span {
	font-weight:normal;color:#666;
}
.oe_video_list h2 i {
	position:absolute;right:0;top:5px;line-height:25px;color:#ff6600;font-weight:normal;
}

.oe_video_list ul {
	padding-top:10px;width:780px;overflow:hidden;
}
.oe_video_list ul li {
	float:left;background: #fafafa; border-bottom: 1px dashed #ddd;margin-right:15px;
    margin-bottom: 10px;padding: 10px 0;position: relative;width:240px;text-align:center;
}
.oe_video_list ul li h3 img{
	width:200px;height:135px;
}
.oe_video_list ul li h4 {
	height:30px;line-height:30px;color:#333;overflow:hidden;
}
.oe_video_list ul li h4 a {color:#333;}
.oe_video_list ul li p {
	height:20px;line-height:20px;color:#666;
}
/*------------------------ video End -------------------*/


/*-------------------- oe_comment list Begin -------------------*/
.oe_comment{
	margin:15px; padding-top:0px;
}
.oe_comment h3{
	line-height:35px; font-size:16px; border-bottom:2px solid #f7f7f7; margin-bottom:10px; font-weight:normal;
	position:relative;
}
.oe_comment h3 i {
	background:#ff6600;display:inline-block;width:80px;height:26px;line-height:26px;color:#fff;
	text-align:center;position:absolute;right:0;font-size:13px;font-weight:normal;cursor:pointer;
}
.oe_comment h3 i:hover {
	background:#f56200;
}
.oe_comment dl{
	border-bottom:1px solid #ebebeb; margin-bottom:15px; padding-bottom:10px; 
	position:relative; width:100%; min-height:60px;
}
.oe_comment dl dt{
	position:absolute; left:0px; top:0px;
}
.oe_comment dl dt a{
	display:inline-block; width:50px; height:50px; border-radius:25px; overflow:hidden; position:relative;
}
.oe_comment dl dt a img{
	position:relative; top:-10px;
}
.oe_comment dl dd{
	margin-left:65px;display:block;
}
.oe_comment dl dd h4{font-weight:normal; position:relative;  height:30px;line-height:30px;font-size:13px;font-weight:normal;}
.oe_comment dl dd h4 img{vertical-align:middle; margin-right:5px;}
.oe_comment dl dd h4 span{position:absolute; right:10px; top:0px; color:#999;}
.oe_comment dl dd h4 span a{display:inline-block; padding-left:15px; background:url(../images/a50.png) left  8px no-repeat;}
.oe_comment dl dd h4 span a:hover{background:url(../images/a50.png) left  -52px no-repeat;}
.oe_comment .comment-pagemore{
	margin-bottom:10px; text-align:center; width:98%; clear:both; display:none;
}
.oe_comment .comment-pagemore .moredata {
	background: #F2F3F5; color: #666; cursor: pointer; display: block; font-size: 12px;
	width: 200px; height: 25px; line-height: 25px; margin: 5px auto;
	text-align: center; text-decoration: none; transition: all 0.7s ease 0s;
}


.oe_addto_comment {
	margin:0 auto;padding:15px;
}
.oe_addto_comment h2 {
	height:30px;line-height:30px;border-bottom:1px solid #ddd;font-weight:normal;font-size:14px;
	margin-bottom:10px;
}
.oe_addto_comment dl {
	padding-top:5px;padding-bottom:5px;line-height:25px;font-size:13px;width:100%;float:left;
}
.oe_addto_comment dl dt {
	float:left;width:100px;
}
.oe_addto_comment dl dd {
	float:left;
}
.oe_addto_comment dl dd textarea{
	border:1px solid #ddd;box-shadow: 2px 2px 2px #f0f0f0 inset; line-height:20px;color:#666;
	width:350px;padding:2px;height:100px;overflow:auto;padding:2px;font-size:12px;
}
.oe_addto_comment dl dd img {
	vertical-align:middle;
}
.oe_addto_comment dl dd input {
	border:1px solid #ddd;box-shadow: 2px 2px 2px #f0f0f0 inset; 
	height:24px; width:80px;padding:2px;
}
.oe_addto_comment dl dd select {
	border:1px solid #ddd;padding:2px;height:25px;line-height:25px;
}
.oe_addto_comment dl dd i {
	background:#ff6600;display:inline-block;width:80px;height:26px;line-height:26px;color:#fff;
	text-align:center;font-size:13px;font-weight:normal;cursor:pointer;
}
.oe_addto_comment dl dd i:hover {
	background:#f56200;
}

/*-------------------- oe_comment list End -------------------*/


/*-------------------- oe_img_upload Begin ----------------------*/

.oe_passport_avatar {
	padding:10px;padding-top:20px;
}
.oe_passport_avatar ._avatar_lt {
	float:left;width:130px;text-align:right;
}
.oe_passport_avatar ._avatar_lt img {
	border: 1px solid #ddd; height: 74px; padding: 2px; width: 60px;	
}
.oe_passport_avatar ._avatar_rt {
	float:left;width:300px;padding-left:30px;
}
.oe_passport_avatar ._avatar_rt h2 {
	font-size:14px;font-weight:normal;
}


.oe_img_upload {
	margin:0 auto;position:relative;
}
.oe_img_upload label {
	font-style:normal;
}
.oe_img_upload ._uploadbtn {
	border:1px solid #eee;background:#1a9ec5;font-size:14px;display:inline-block;font-weight:normal;
	width:80px;height:25px;line-height:25px;text-align:center;color:#fff;position:relative;
}
.oe_img_upload ._uploadbtn input[type="file"] {
	vertical-align:middle;position:absolute;left:0; filter:alpha(opacity=0);opacity:0;z-index:1;
	outline:none;margin:0;padding:0;border:0;overflow:hidden;cursor:pointer; width:80px;height:25px;

}
.oe_img_upload ._uploading {
	line-height:25px;margin-left:5px;color:green;display:none;
	position:absolute;left:90px;top:3px;font-size:12px;
} 
.oe_img_upload ._uploading img{
	vertical-align:middle;margin-right:2px;
}

.oe_uploadimg_layout {
	margin:0 auto;margin-top:15px;line-height:30px;margin-bottom:10px;
}
.oe_uploadimg_layout ._img_layout_lt {
	float:left;width:30%;font-size:14px;
}

.oe_uploadimg_layout ._img_layout_rt {
	float:left;width:60%;
}

.oe_uploadimg_layout ._img_uplaodbtn {

}
/*-------------------- oe_img_upload End ------------------------*/
/*============================ ...»ªÀö·Ö¸îÏß...End =======================*/